/* .panel {
    float: left;
    width: 50%;
  }
  
h2 {
  margin-bottom: 10px;
}

#map {
  height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex;
    width: 800px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #upload-panel {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  #upload-panel h2 {
    margin-top: 0;
  }
  
  #content-panel {
    flex: 2;
    padding: 20px;
  }
  
  #content-panel pre {
    white-space: pre-wrap;
  }